.welcome-page {
    text-align:center;
    padding: 80px
}

.login-page{
    float: center;
    width: 100%;

}

.signup-page{
    float: center;
    width: 100%
}

.signup-form{
    float: center;
    margin-left: 500px;
    margin-right: 500px
}

.login-form{
    float: center;
    margin-left: 650px;
    margin-right: 650px
}

.nav-bar{
    float: left;
    width: 20%;
    margin-top: 200px;
}

.homepage{
    float: right;
    width: 80%;
    margin-top: 100px;
}

.shop{
    float: right;
    width: 80%;
    margin-top: 100px;
}

.profile{
    float: right;
    width: 80%;
    margin-top: 100px;
}

.photographers{
    float: right;
    width: 80%;
    margin-top: 100px;
}

.orders{
    float: right;
    width: 80%;
    margin-top: 100px;
}

.cart{
    float: right;
    width: 80%;
    margin-top: 100px;
}

