.welcome-page {
    text-align: center;
    padding: 80px
}

.login-page{
    float: center;
    width: 100%;

}

.signup-page{
    float: center;
    width: 100%
}

.signup-form{
    float: center;
    margin-left: 500px;
    margin-right: 500px
}

.login-form{
    float: center;
    margin-left: 650px;
    margin-right: 650px
}

.profile-pic {
    height: 300px;
    width: 300px;
    border-radius:25px
}
  
.selling-pic {
    height: 200px;
    width: 200px;
}
  

.nav-bar{
    float: left;
    width: 20%;
    margin-top: 200px;
}

.homepage{
    float: right;
    width: 80%;
    margin-top: 100px;
    text-align: center;

}

.shop{
    float: right;
    width: 80%;
    margin-top: 100px;
}

.profile{
    float: right;
    width: 80%;
    margin-top: 100px;
}

.photographers{
    float: right;
    width: 80%;
    margin-top: 100px;
}

.orders{
    float: right;
    width: 80%;
    margin-top: 100px;
}

.cart{
    float: right;
    width: 80%;
    margin-top: 100px;
}

.user-photos{
    float:left;
    width: 100%;
    padding: 40px
}

.profile-pic-buttons{
    float: left;
    width: 15%
}

.user-info{
    margin-right: 100px;
    margin-left: 350px
}

.edit-user-info-form{
    float:left;
    width:60%;
    margin-left: 200px
}

.list-work-form{
    float: center;
    margin-right: 500px
}
 
.item-description{
    margin-right: 70px
}